version: '3'
services:
  user:
    build:
      context: .
      args:
        config: config/user-cfg.yaml
    env_file: cookie/user.cookie
    tty: true
    stdin_open: true

  # user2:
  #   build:
  #     context: .
  #     args:
  #       duration: "20 0 * * *"
  #       config: config/user-cfg.yaml
  #   env_file: cookie/user2.cookie
  #   tty: true
  #   stdin_open: true
